
.billboard-contents {
    grid-area: billboard-contents; 
    grid-column: 2 / span 7;
    text-align: center;
    

}
.billboard-box {
  
    grid-column: 3/8;
    grid-row: 5/10;
  
  }
/* .billboard {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: minmax(50px,auto);
    grid-template-areas: 
      "billboard-contents";
    background-color: none;
    text-align: center;
    padding: 0px;
    font-size: 30px;
    margin: 0px;
} */ 
