.about-image { grid-area: about-image; grid-column: 1/4;}
.about-about { grid-area: about-about; grid-column: 4/7;}


.about-grid-container {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: minmax(50px,auto);
  grid-template-areas:
    'about-image about-about';
  grid-gap: 10px;
  align-items: center;
  color: black;
  padding: 10px;
  background-color: none;
  text-align: center;
  padding: 20px 0;
  font-size: 15px;
}
.about-content-wrapper {
    padding: 30px;
}
